{
  "presets": [
    "stage-2",
    "es2015",
    "react",
    "env"
  ],
  "plugins": ["transform-runtime", "transform-react-jsx", "transform-class-properties", ["import", { "libraryName": "antd-mobile", "libraryDirectory": "es", "style": true }]],
  "env": {
    "production":{
      "preset":["react-optimize"]
    }
  }
}
