.playlist {
  .playlistgrid {
    .sub-title {
      color: #888;
      font-size: 14px;
      padding: 15px 0 9px 15px;
    }
    .not-square-grid .am-grid-icon {
      width: 40px;
      height: 60px;
    }
    .am-grid.am-grid-square .am-grid-item .am-grid-item-inner-content .am-grid-icon {
      width: 60%!important;
    }
  }
  .accountmsg {
    .am-flexbox.am-flexbox-align-center {
      padding: 5px 0;
    }
    .assetsBtn {
      display: inline-block;
      font-size: 14px;
      height: 30px;
      line-height: 30px;
      border-radius: 0;
      padding: 0 20px;
      margin: 0 5px;
    }
    .am-card-footer-content{
      flex: 0;
    }
    .am-card-footer-extra {
      text-align: center;
    }
    .am-card:not(.am-card-full) {
      border: none;
    }
    .am-card-body {
      border: none;
    }
    .am-card-header-content {
      color: #f0b90b;
    }
    .am-icon-md {
      width: 32px;
      height: 32px;
    }
  }
}
