.guessingpage {
  .am-flexbox {
    background: #503f32;
    padding: 10px;
    text-align: center;
    color: #fff;
    .pd-2{
      padding: 2px 0;
    }
    .big-text {
      font-size: 16px;
    }
  }
  .pd-10.am-flexbox {
    padding: 15px 0;
    .bigg-text {
      font-size: 16px;
      font-weight: 700;
    }
  }
  .guessList {
    background: #f5f2f0;
    text-align: left;
    color: #503f32;
    padding: 15px;
    font-size: 16px;
  }
}
.guessingpage.bg-white{
  background: #fff;
}
