.assets {
  .coinImg {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .strongName {
    font-size: 19px;
  }
  .littleName {
    font-size: 14px;
    font-weight: normal;
  }
  .am-card:not(.am-card-full) {
    padding: 10px 0;
  }
  .am-card-body::before{
    height: 0!important;
  }
  .am-card-body {
    p {
      color: #888;
      font-size: 14px;
    }
  }
  .assetsBtn {
    display: inline-block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    border-radius: 0;
    padding: 0 20px;
    margin: 0 5px;
  }
  .am-card-footer-extra {
    flex: 9;
  }
  .assetsBtn.am-button {
    border: 1px solid #ddd;
    box-sizing: content-box;
  }
  .assetsBtn.am-button::before {
    border: none;
    border-radius: 0;
  }
  .am-card {
    border: 1px solid #ddd!important;
  }
  .am-card:not(.am-card-full)::before {
    border: none!important;
  }
}